wheel

Cython
numba
# can use intel-specific libraries for greater speed if on intel-chip machine
# intel-numpy
numpy
jupyterlab
pandas
pyarrow
# intel-scipy
scipy
# scikit-learn
# scikit-learn-intelex
